<!DOCTYPE html>
<html ng-app="bockStore">
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  </head>
    
  <body ng-controller="BockStoreController as store">
    <nav class="navbar navbar-default">
        <h1 class="text-center">Mis Pedidos</h1>
    </nav >
     
    <aside class=" pull-left thumbnail" style="width:200px; height:500px;">
        <div class="list-group">
            <a ui-sref="pedidos" class="list-group-item">Mis Pedidos</a>
            <a class="list-group-item disabled">Mis Favoritos</a>
            <a ui-sref="datos" class="list-group-item">Mis Datos</a>
            <a ui-sref="index" class="list-group-item">Salir --></a>
        </div>
    </aside> 
      
    <section class="col-xs-10" >
        <table class="table table-hover pull-right col-xs-8" ng-controller="tablaController">
            <tr>
                <th>Fecha</th>
                <th>Num</th> 
                <th>Pedido</th>
                <th>Estado</th>
                <th>Total</th>
            </tr>
            <tr  ng-repeat="pedido in tablapedidos">
                <td>{{pedido.fecha}}</td>
                <td>
                    <a ui-sref="detalle({id:pedido.id})">{{pedido.id}}</a>
                </td> 
                <td>{{pedido.resumen[0].titulo}} {{pedido.cantidad}}</td>
                <td>{{pedido.estado}}</td> 
                <td>{{pedido.total}}</td>
            </tr>
        </table>
        
        
    </section>
      
    
  </body>
</html>